<div class="container">
  <h1 style="text-align: center;">
    <a
      [routerLink]="['*']"
      routerLinkActive="router-link-active"
      class="nav-link"
      >{{ title }}</a
    >
  </h1>
  <nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/korisnici']"
          routerLinkActive="router-link-active"
          >Korisnici</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/operateri']"
          routerLinkActive="router-link-active"
          >Operateri</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/paketi']"
          routerLinkActive="router-link-active"
          >Paketi</a
        >
      </li>
    </ul>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
