<table class="table table-borderless" *ngFor="let operater of operateri">
  <thead>
    <tr>
      <th>#</th>
      <th>Naziv</th>
      <th>Pozivni broj</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ operater.id }}</td>
      <td>{{ operater.naziv }}</td>
      <td>{{ operater.pozivniBroj }}</td>
      <td>
        <button class="btn btn-primary">
          <a
            [routerLink]="['/operateri', operater.id]"
            routerLinkActive="router-link-active"
            style="color: white;"
            >Detail</a
          >
        </button>
        <button class="btn btn-danger" (click)="deleteOperater(operater.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="dodajNovog()">
  Dodaj novog operatera
</button>

<app-operater-add-new
  *ngIf="formaActive"
  (onSubmit)="save($event)"
></app-operater-add-new>
