<ul class="list-group">
  <li class="list-group-item">Id: {{ korisnik.id }}</li>
  <li class="list-group-item">Broj: {{ korisnik.broj }}</li>
  <li class="list-group-item">PaketId: {{ korisnik.paketId }}</li>
  <li class="list-group-item">Datum prijave: {{ korisnik.datumPrijave }}</li>
  <li class="list-group-item">Datum odjave: {{ korisnik.datumOdjave }}</li>

  <div class="row mt-2">
    <div class="col text-center">
      <a routerLink="/artikli" class="btn btn-primary mr-2">Nazad</a>
      <a class="btn btn-warning" (click)="navigateToEdit(korisnik.id)"
        >Izmijeni</a
      >
    </div>
  </div>
</ul>
