<table class="table table-borderless" *ngFor="let korisnik of korisnici">
  <thead>
    <tr>
      <th>#</th>
      <th>Broj</th>
      <th>PaketID</th>
      <th>Datum prijave</th>
      <th>Datum odjave</th>
      <th>More</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ korisnik.id }}</td>
      <td>{{ korisnik.broj }}</td>
      <td>{{ korisnik.paketId }}</td>
      <td>{{ korisnik.datumPrijave }}</td>
      <td>{{ korisnik.datumOdjave }}</td>
      <td>
        <button class="btn btn-primary">
          <a
            [routerLink]="['/korisnici', korisnik.id]"
            routerLinkActive="router-link-active"
            style="color: white;"
            >Detail</a
          >
        </button>
        <button class="btn btn-danger" (click)="deleteKorisnik(korisnik.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="dodajNovog()">
  Dodaj novog korisnika
</button>

<app-korisnik-add-new
  *ngIf="formaActive"
  [paketi]="paketi"
  (onSubmit)="save($event)"
>
</app-korisnik-add-new>
